.contact-body h2 {
  text-align: center;
}
.contact-body {
  background-color: var(--tanly);
  color: var(--browngrey);
  padding-top: 50px;
}

.col {
  margin: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: var(--browngrey);
  color: var(--tanly);
  border: none;
}

#back-info {
  padding: 30px;
}
