.contact-body h2 {
  text-align: center;
}
.contact-body {
  background-color: var(--black);
  color: var(--white);
}

.col {
  margin: 15px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: var(--tanly);
  color: var(--black);
  border: none;
}
