.footer-body {
  text-align: center;
  color: var(--tanly);
  background-color: var(--browngrey);
  width: 100%;
}
.fa {
  color: var(--tanly);
}

.copyright-link {
  text-decoration: none;
  color: var(--olive);
}

.footer-body a {
  margin: 20px;
}
.copyright a {
  margin: 0px;
}